 .ipynb_checkpoints

password.txt

.RData
.Rhistory

htseqResults
results
Homo_sapiens.*.gtf
sorted_bam
htseqOldResults
.Rproj.user
STAR
data
data_files.zip
code_files.zip
incomplete_data_files.zip
fakes
